[user]
	useConfigOnly = true
[color]
	ui = always
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "branch"]
	current = green reverse
	local = green
	remote = red
[color "status"]
	added = green
	changed = red
	untracked = cyan
[core]
	autocrlf = input
	editor = nano
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
	alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
	st = status -sb
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	br = branch -a
	co = checkout
	dm = diff master
	df = diff -w
	idf = !git difftool --no-prompt --extcmd icdiff
	su = submodule update
	cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
	fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
	gr = grep --line-number --heading --break
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
	refresh= !git fetch origin && git remote prune origin
[branch]
	autosetuprebase = always
[merge]
	ff = false
[pull]
	rebase = true
[push]
	default = current
[init]
	templatedir = ~/.git_template
[diff]
	compactionHeuristic = true
[include]
	path = ~/.gitconfig.local
[help]
	autocorrect = 1
