[user]
	name = SET_ME_LOCALLY
	email = SET_ME_LOCALLY
[color]
	ui = auto
[core]
	autocrlf = input
	pager = less -r
	editor = emacs -nw
	excludesfile = ~/.gitignore
[alias]
	st = status -sb
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	di = diff -w
	br = branch -a
	co = checkout
	dm = diff master
	df = diff -w
	su = submodule update
	cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
[branch]
	autosetuprebase = always
[merge]
	ff = false
[pull]
	rebase = true
[push]
	default = upstream
[init]
	templatedir = ~/.git_template
[url "http://"]
	insteadOf = git://
