encryption = "age"

[edit]
    command = "code"
    args = ["--wait"]

[age]
    identity = "~/.config/chezmoi/dotfiles.key"
    recipient = "age1sp7m7nzrd6ksph0fy67xkwpp09kragg2e3fcucj6xm696t9kkfzs39cfud"
    