"*":
  "exception-reporting":
    userId: "01593a1b-f2d9-836e-3c42-ee6ff4f53aa4"
  "release-notes":
    viewedVersion: "0.83.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "387459e5204d9134b3271e58ef10cc72f8fbb6b9"
  editor:
    fontFamily: "Ricty"
    showInvisibles: true
    showIndentGuide: true
    useShadowDOM: true
    invisibles: {}
    fontSize: 17
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
  "autocomplete-plus":
    confirmCompletion: "enter"
  linter: {}
  "tree-view": {}
  tabs:
    usePreviewTabs: true
  react: {}
