'exception-reporting':
  'userId': '5da2e363-f7a0-eebd-d6e6-6080129818f9'
'release-notes':
  'viewedVersion': '0.73.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'c62156c1b247f313720520c413d82b59c92c5ee8'
'editor':
  'fontFamily': 'Ricty'
'core':
  'themes': [
    'atom-dark-ui'
    'solarized-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
'tree-view': {}
